@page "{id:int?}"
@model ContactModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<br/><p>@GetMessage("Jason")</p>

<form method="post" asp-antiforgery="true">
    <table>
        <tr>
            <td><label asp-for="_Person.FirstName"></label><br /><input asp-for="_Person.FirstName" /><br/><span asp-validation-for="_Person.FirstName" style="color:red"></span></td>
        </tr>
        <tr><td><label asp-for="_Person.LastName"></label><br /><input asp-for="_Person.LastName" /><br /><span asp-validation-for="_Person.LastName" style="color:red"></span></td></tr>
        <tr>
            <td><label asp-for="_Person.Email"></label><br /><input asp-for="_Person.Email" /><br /><span asp-validation-for="_Person.Email" style="color:red"></span></td>

        </tr>
    </table>
    <input type="submit" name="FormAction" value="Submit" />
</form>

@functions{
    public string GetMessage(string name)
    {
        return $"hi {name}";
    }
}

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
